.App {
  font-family: "OpenSans";
  padding-bottom: 100px;
}

/* html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  height: 100vh;
  width: 100vw;
  
} */

html,
body {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.no-gutters {
  padding-top: 45px;
}

h1 {
  padding-top: 60px;
}

.table {
  text-align: center;
}

.nav {
  position: fixed;
  -webkit-position: sticky;
  top: 0;
  left:0;
  right:0;
  width: 100vw;
  width: -moz-available;
  width: -webkit-fill-available;
  width: stretch;
  /* height: 100%; */
  margin: 0;
}

.sidebar {
  background-color: #536271;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}

.home {
  text-align: center;
  padding-top: 30px;
}

.home-text {
  padding-top: 15px;
  text-align: center;
}

.date-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.ease-in {
  /* animation: 2s ease-out 1s 1 slideInFromTop; */

  /* background: #333; */
  padding: 30px;
}

li.tickerOptions {
      list-style: none;
      text-align: center;
      padding-top: 5px;
}

li.tickerOptions :only-child{
  background-color: #e9ecef;
  margin: 2px;
}

input:focus {
  outline: none;
  
}

input{
      width: 100%;
      padding: 10px;
      border: 0;
      border-bottom: 1px solid #ccc;
}

/* .icon:hover {
    content: '🚀';
    position: absolute;
    right: 30px;
    top: 10px;
    font-size: 104px;
    transform: rotate(360deg);
    transition: all 4s;
} */

input {
  text-align: center;
}

.icon:hover::after {
  transform: rotate(90deg);
}

input[type='date']::-webkit-datetime-edit-year-field:not([aria-valuenow]),
input[type='date']::-webkit-datetime-edit-month-field:not([aria-valuenow]),
input[type='date']::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
  color: transparent;
}

img.ab {
  display: inline-grid;
  justify-content: stretch;
  align-content: center;
  max-inline-size: fit-content;
  margin: auto;
}

.col-md-2 {
  margin: auto;
  margin-left: 5vw;
}

rect {
  padding: auto;
}

.loading {
  animation:blinkingText 1.2s infinite;
}

.loading:hover {
  animation: none;
}

@keyframes blinkingText {
  0% {
    color: #000;
  }

  49% {
    color: #000;
  }

  60% {
    color: transparent;
  }

  99% {
    color: transparent;
  }

  100% {
    color: #000;
  }
}

div.row-8 {
  border-style: solid;
  border-width: 1px;
  margin: auto;
  padding: 25px;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background: round;
  color: white;
  font-size: 14px;
  word-wrap: normal;
  font-weight: bold;
  cursor: pointer;
  display: block;
}

.badge-pill {
  padding: 6px
}

.btn-outline-success {
  color: #28a745;
  border-color: #28a745;
  border-radius: 16px;
  padding: 15px;
}

div.col-sm-12 {
  padding-bottom: 5px;
}

@media only screen and (min-width: 600px) {
  .row-8 {
    display: inline;
  }

}

@media only screen and (min-device-width: 375px) and (max-device-width: 767px) {
  h1.display-4 {
    font-size: xx-large;
    font-weight: 300;
    line-height: 1.2;
  }
  .offset-1 {
    margin-left: 0;
  }

  .col-sm-12 {
    padding-bottom: 10px;
  }

  .no-gutters {
    padding-top: 55px;
  }

  .h1 {
    padding-top: inherit;
  }
}

.modal-header {
  display: initial;
}

.footer {
  position: fixed;
  left:0;
  bottom:0;
  right:0;
  background-color: #56728c;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 10px;
}

#root {
  height: 100vh;
}

.info {
    width: inherit;
}